/********************************************** Variables *****************************************/
/*********************************************************************************************************/
//************ Colors ************//
$background-main: #ff6060;
$background-secondary: #F6F6F6;



//************ Text ************//
$text-mainTheme: #ff6060;


