/********************************************** AdsContainer Component *****************************************/
/*********************************************************************************************************/
.adsContainer {
    background: $background-secondary;
    width: 100%;
    border-radius: 25px;
    padding: 56px 50px 43px 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 60px;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        background: none;
        border-radius: unset;
        padding: unset;
    }

    & a {
        width: 100%;
    }
}