/********************************************** Carousel *****************************************/
/*********************************************************************************************************/
.carousel {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    position: relative;

    @media screen and (max-width: 375px) {
        height: 255px;
        border-radius: 10px;
    }

    &__img {
        @extend %img-cover;
        border-radius: 25px;

        @media screen and (max-width: 375px) {
            border-radius: 10px;
        }
    }

    &__counter {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width: 375px) {
            display: none;
        }
    }
}

.arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    @media screen and (max-width: 375px) {
        height: 24px;
    }


    &__left,
    &__right {
        cursor: pointer;
    }

    &__left {
        margin-left: 20px;

        @media screen and (max-width: 375px) {
            margin-left: 6px;
        }
    }

    &__right {
        margin-right: 20px;

        @media screen and (max-width: 375px) {
            margin-right: 6px;
        }
    }
}