/********************************************** HouseRating Component *****************************************/
/*********************************************************************************************************/
.rating{

    @extend %flex-row;
    gap: 10px;
    
    & .fas{
        color: $font-color-mainTheme;
    }
    & .fas.empty{
        color: lightgray;
    }
}