/********************************************** HouseTags Component *****************************************/
/*********************************************************************************************************/
.tags {

    & ul {
        @extend %flex-row;
        gap: 10px;
        flex-wrap: wrap;
    }

    & li {
        @extend %flex-rowCentered;
        padding: 6px 9%;
        border-radius: 10px;
        background: $background-main;
    }
}