/********************************************** HousingHost Component *****************************************/
/*********************************************************************************************************/
.housingHost {
    @extend %flex-row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & img{
        width: 64px;
        height: 64px;
        border-radius: 50%;

        @media screen and (max-width: 375px){
            width: 32px;
            height: 32px;
        }
    }

    & p{
        width: 90px;
    }
}