/********************************************** Placeholders ************************************************/
/*********************************************************************************************************/
/************************ Flex box ************************/
.housingTitle, .housingInfo, .housingInfo__titleTags, .housingInfo__hostRating, .collapse {
  display: flex;
  flex-direction: column;
}

.pageError__container, .housingContainer, .housingContainer__main, .homeContainer, .homeContainer__main, .aboutContainer,
.aboutContainer__main,
.collapseAll, .footer, .footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_nav, .tags ul, .housingRating, .housingInfo__top, .housingInfo__bottom, .housingHost, .collapse__title {
  display: flex;
}

.header, .tags li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************ Typography ************************/
.pageError__title,
.pageError__txt,
.pageError__link, .collapse,
.collapse__title,
.collapse__txt, .housingTitle h1,
.housingTitle p,
.housingHost p,
.tags li, .ads__title, .header,
.banner,
.footer,
.carousel {
  font-family: Montserrat;
  line-height: 142.6%;
}

/************************ Images ************************/
.carousel__img, .banner_img, .ads__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/********************************************** Variables *****************************************/
/*********************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********** personnal reset *************/
a {
  text-decoration: none;
  color: inherit;
}

*, ::before, ::after {
  box-sizing: border-box;
}

main {
  width: 100%;
}

/********************************************** Typography ************************************************/
/*********************************************************************************************************/
/************************ Layouts ************************/
.header_nav {
  font-size: 1.5rem;
}
@media screen and (max-width: 375px) {
  .header_nav {
    font-size: 0.75rem;
  }
}

.banner_txt {
  font-size: 3rem;
  font-weight: 700;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  -webkit-text-stroke-color: #000;
}
@media screen and (max-width: 375px) {
  .banner_txt {
    font-size: 1.5rem;
    text-align: left;
  }
}

.footer_txt {
  font-size: 1.5rem;
}
@media screen and (max-width: 375px) {
  .footer_txt {
    font-size: 0.75rem;
  }
}

.carousel__counter {
  color: #FFF;
  font-size: 1.125rem;
}

/************************ Page Home ************************/
.ads__title {
  font-size: 1.125rem;
  font-weight: 700;
  color: #FFF;
}

/************************ Page Housing ************************/
.housingTitle h1 {
  font-size: 2.25rem;
  color: #ff6060;
}
@media screen and (max-width: 375px) {
  .housingTitle h1 {
    font-size: 1.125rem;
  }
}
.housingTitle p {
  font-size: 1.125rem;
  color: #000;
}
@media screen and (max-width: 375px) {
  .housingTitle p {
    font-size: 0.875rem;
  }
}

.housingHost p {
  font-size: 1.125rem;
  color: #ff6060;
  text-align: right;
}
@media screen and (max-width: 375px) {
  .housingHost p {
    font-size: 0.75rem;
  }
}

.tags li {
  font-size: 0.875rem;
  font-weight: 700;
  color: #FFF;
}
@media screen and (max-width: 375px) {
  .tags li {
    font-size: 0.625rem;
  }
}

/************************ Page about ************************/
.collapse__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFF;
}
@media screen and (max-width: 375px) {
  .collapse__title {
    font-size: 0.813rem;
  }
}
.collapse__txt {
  font-size: 1.125rem;
}
@media screen and (max-width: 375px) {
  .collapse__txt {
    font-size: 0.688rem;
    line-height: 142.6%;
  }
}

/************************ Page Error ************************/
.pageError__title {
  font-size: 18rem;
  font-weight: 700;
  color: #ff6060;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .pageError__title {
    font-size: 6rem;
  }
}
.pageError__txt {
  font-size: 2.25rem;
  color: #ff6060;
}
@media screen and (max-width: 375px) {
  .pageError__txt {
    font-size: 1.125rem;
    text-align: center;
  }
}
.pageError__link {
  font-size: 2.25rem;
  text-decoration: underline;
}
@media screen and (max-width: 375px) {
  .pageError__link {
    font-size: 0.875rem;
  }
}

/********************************************** Ads ************************************************/
/*********************************************************************************************************/
.ads {
  height: 340px;
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 375px) {
  .ads {
    height: 255px;
    background: none;
  }
}
.ads__img {
  border-radius: 10px;
}
.ads__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
  text-wrap: wrap;
}

/********************************************** AdsContainer Component *****************************************/
/*********************************************************************************************************/
.adsContainer {
  background: #F6F6F6;
  width: 100%;
  border-radius: 25px;
  padding: 56px 50px 43px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media screen and (max-width: 375px) {
  .adsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: none;
    border-radius: unset;
    padding: unset;
  }
}

/********************************************** Banner ************************************************/
/*********************************************************************************************************/
.banner {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  position: relative;
  background: #000;
}
@media screen and (max-width: 375px) {
  .banner {
    height: 110px;
    border-radius: 10px;
  }
}
.banner_img {
  border-radius: 25px;
  opacity: 0.6;
}
@media screen and (max-width: 375px) {
  .banner_img {
    border-radius: 10px;
  }
}
.banner_txt {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 375px) {
  .banner_txt {
    width: 90%;
  }
}

/********************************************** Carousel *****************************************/
/*********************************************************************************************************/
.carousel {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  position: relative;
}
@media screen and (max-width: 375px) {
  .carousel {
    height: 255px;
    border-radius: 10px;
  }
}
.carousel__img {
  border-radius: 25px;
}
@media screen and (max-width: 375px) {
  .carousel__img {
    border-radius: 10px;
  }
}
.carousel__counter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 375px) {
  .carousel__counter {
    display: none;
  }
}

.arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
@media screen and (max-width: 375px) {
  .arrows {
    height: 24px;
  }
}
.arrows__left, .arrows__right {
  cursor: pointer;
}
.arrows__left {
  margin-left: 20px;
}
@media screen and (max-width: 375px) {
  .arrows__left {
    margin-left: 6px;
  }
}
.arrows__right {
  margin-right: 20px;
}
@media screen and (max-width: 375px) {
  .arrows__right {
    margin-right: 6px;
  }
}

/********************************************** Collapse Component *****************************************/
/*********************************************************************************************************/
.collapse {
  width: 100%;
  overflow: hidden;
}
.collapse__title {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 10px 15px;
  background: #ff6060;
  z-index: 2;
  cursor: pointer;
}
.collapse__txt {
  background: #F6F6F6;
  border-radius: 0 0 5px 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.collapse__txt.show {
  max-height: 250px;
}
.collapse__txt-inner {
  padding: 10px 15px 15px 15px;
}

.fa-solid.fa-chevron-up {
  transition: transform 0.3s ease-in-out;
}

.fa-solid.fa-chevron-up.rotate {
  transform: rotate(180deg);
}

/********************************************** HousingHost Component *****************************************/
/*********************************************************************************************************/
.housingHost {
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.housingHost img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
@media screen and (max-width: 375px) {
  .housingHost img {
    width: 32px;
    height: 32px;
  }
}
.housingHost p {
  width: 90px;
}

/********************************************** HousingInfo Component *****************************************/
/*********************************************************************************************************/
.housingInfo, .housingInfo__titleTags, .housingInfo__hostRating {
  gap: 20px;
}

.housingInfo {
  width: 100%;
}
.housingInfo__top, .housingInfo__bottom {
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 375px) {
  .housingInfo__top, .housingInfo__bottom {
    flex-direction: column;
    gap: 14px;
  }
}
@media screen and (max-width: 375px) {
  .housingInfo__titleTags {
    gap: 10px;
  }
}
.housingInfo__hostRating {
  align-items: flex-end;
}
@media screen and (max-width: 375px) {
  .housingInfo__hostRating {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .housingInfo__hostRating .housingRating {
    order: 1;
  }
  .housingInfo__hostRating .housingHost {
    order: 2;
  }
}
.housingInfo__bottom {
  gap: 76px;
}
@media screen and (max-width: 375px) {
  .housingInfo__bottom {
    gap: 20px;
  }
}

/********************************************** HouseRating Component *****************************************/
/*********************************************************************************************************/
.housingRating {
  gap: 10px;
}
.housingRating .fas {
  color: #ff6060;
}
.housingRating .fas.empty {
  color: lightgray;
}

/********************************************** HouseTags Component *****************************************/
/*********************************************************************************************************/
.tags ul {
  gap: 10px;
  flex-wrap: wrap;
}
.tags li {
  padding: 6px 9%;
  border-radius: 10px;
  background: #ff6060;
}

/********************************************** HousingTitle Component *****************************************/
/*********************************************************************************************************/
/********************************************** Footer ************************************************/
/*********************************************************************************************************/
.footer, .footer__content {
  width: 100%;
}

.footer {
  height: 209px;
  background-color: black;
  padding: 66px 0 29px 0;
}
.footer__content {
  gap: 28px;
}
.footer_txt {
  color: white;
}

/********************************************** Header ************************************************/
/*********************************************************************************************************/
.header {
  justify-content: space-between;
  padding: 45px 100px 0 100px;
  width: 100%;
}
@media screen and (max-width: 375px) {
  .header {
    padding: 20px 20px 0 20px;
  }
}
.header_nav {
  gap: 57px;
}
@media screen and (max-width: 375px) {
  .header_nav {
    gap: 26px;
  }
}
@media screen and (max-width: 375px) {
  .header img {
    width: 145px;
  }
}
.header__navLink-active {
  text-decoration: underline;
}

/********************************************** Page about ************************************************/
/*********************************************************************************************************/
.aboutContainer {
  gap: 50px;
}
.aboutContainer__main {
  gap: 38px;
  width: 100%;
  padding: 0 7%;
}
@media screen and (max-width: 375px) {
  .aboutContainer__main {
    padding: 0 5.5%;
  }
}

.collapseAll {
  gap: 30px;
  width: 100%;
}

@media screen and (max-width: 375px) {
  .aboutContainer,
  .aboutContainer__main,
  .collapseAll {
    gap: 20px;
  }
}

/********************************************** Page Home ************************************************/
/*********************************************************************************************************/
.homeContainer, .homeContainer__main {
  width: 100%;
}

.homeContainer {
  gap: 50px;
  background-color: #ffffff;
}
.homeContainer__main {
  gap: 43px;
  padding: 0 5%;
}

/********************************************** Page Housing *****************************************/
/*********************************************************************************************************/
.housingContainer, .housingContainer__main {
  width: 100%;
}

.housingContainer {
  gap: 50px;
}
@media screen and (max-width: 375px) {
  .housingContainer {
    gap: 27px;
  }
}
.housingContainer__main {
  gap: 30px;
  padding: 0 7%;
}
@media screen and (max-width: 375px) {
  .housingContainer__main {
    gap: 15px;
    padding: 0 5.5%;
  }
}

/********************************************** Page Error ************************************************/
/*********************************************************************************************************/
.pageError__container {
  gap: 139px;
}
@media screen and (max-width: 375px) {
  .pageError__container {
    gap: 113px;
  }
}
.pageError__title {
  margin-top: 139px;
}
.pageError__link {
  margin-bottom: 139px;
}/*# sourceMappingURL=main.css.map */