/********************************************** Placeholders ************************************************/
/*********************************************************************************************************/
.housingTitle, .housingInfo, .collapse {
  display: flex;
  flex-direction: column;
}

.housingContainer, .logementContainer, .pageError__container, .aboutContainer__main, .aboutContainer, .homeContainer__main, .homeContainer, .footer__content, .footer, .collapseAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_nav, .footer_logo, .tags ul, .housingInfo__top, .housingInfo__middle, .housingInfo__bottom, .host, .collapse__title {
  display: flex;
}

.header, .tags li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/********************************************** Variables *****************************************/
/*********************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********** personnal reset *************/
a {
  text-decoration: none;
  color: inherit;
}

*, ::before, ::after {
  box-sizing: border-box;
}

main {
  width: 100%;
}

/********************************************** Typography ************************************************/
/*********************************************************************************************************/
/************************ Global ************************/
* {
  font-family: Montserrat;
}

/************************ Layouts ************************/
.header_nav {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.banner_txt {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  -webkit-text-stroke-color: #000;
  text-align: center;
}

.footer_txt {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

/************************ Page Home ************************/
.ads__title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 142.6%;
}

/************************ Page Housing ************************/
.housingTitle h1, .housingTitle p {
  font-family: Montserrat;
  line-height: 142.6%;
}
.housingTitle h1 {
  color: #ff6060;
  font-size: 2.25rem;
}
.housingTitle p {
  color: #000;
  font-size: 1.125rem;
}

.host p {
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 1.125rem;
  line-height: 142.6%;
}

.tags li {
  color: #FFF;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 700;
}

/************************ Page about ************************/
.collapse__title, .collapse__txt {
  font-family: Montserrat;
}
.collapse__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.collapse__txt {
  font-size: 18px;
}

/************************ Page Error ************************/
.pageError__title {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18rem;
  font-weight: 700;
  text-align: center;
}
.pageError__txt {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 2.25rem;
}
.pageError__link {
  font-family: Montserrat;
  font-size: 2.25rem;
  text-decoration: underline;
}

/********************************************** Button *****************************************/
/*********************************************************************************************************/
/********************************************** Banner ************************************************/
/*********************************************************************************************************/
.banner {
  width: 86%;
  height: 223px;
  border-radius: 25px;
  position: relative;
  background: #000;
}
.banner_img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
}
.banner_txt {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/********************************************** Collapse Component *****************************************/
/*********************************************************************************************************/
.collapseAll {
  gap: 30px;
  width: 100%;
}

.collapse {
  width: 71%;
  overflow: hidden;
}
.collapse__title {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 10px 15px;
  background: #ff6060;
  z-index: 2;
  cursor: pointer;
}
.collapse__txt {
  background: #F6F6F6;
  border-radius: 0 0 5px 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.collapse__txt.show {
  max-height: 250px;
}
.collapse__txt-inner {
  padding: 10px 15px 15px 15px;
}

.fa-solid.fa-chevron-up {
  transition: transform 0.3s ease-in-out;
}

.fa-solid.fa-chevron-up.rotate {
  transform: rotate(180deg);
}

.ads {
  height: 340px;
  background: #ff6060;
  border-radius: 10px;
  position: relative;
}
.ads__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.ads__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/********************************************** HousingHost Component *****************************************/
/*********************************************************************************************************/
.host {
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.host p {
  width: 90px;
}

/********************************************** HousingInfo Component *****************************************/
/*********************************************************************************************************/
.housingInfo {
  gap: 20px;
  width: 100%;
}
.housingInfo__top, .housingInfo__middle, .housingInfo__bottom {
  justify-content: space-between;
  width: 100%;
}
.housingInfo__bottom {
  gap: 76px;
}

/********************************************** HouseRating Component *****************************************/
/*********************************************************************************************************/
.rating .fas {
  color: #ff6060;
}
.rating .fas.empty {
  color: lightgray;
}

/********************************************** HouseTags Component *****************************************/
/*********************************************************************************************************/
.tags ul {
  gap: 10px;
}
.tags li {
  padding: 6px 40px;
  border-radius: 10px;
  background: #ff6060;
}

/********************************************** HousingTitle Component *****************************************/
/*********************************************************************************************************/
/********************************************** Footer ************************************************/
/*********************************************************************************************************/
.footer {
  width: 100%;
  height: 209px;
  background-color: black;
  padding: 66px 464px 29px 464px;
}
.footer__content {
  gap: 28px;
  min-width: 513px;
}
.footer_logo {
  align-items: flex-end;
  gap: 6px;
}
.footer_txt {
  color: white;
}

/********************************************** Header ************************************************/
/*********************************************************************************************************/
.header {
  justify-content: space-between;
  padding: 45px 100px 0 100px;
  width: 100%;
}
.header_nav {
  gap: 57px;
}

/********************************************** AdsContainer Component *****************************************/
/*********************************************************************************************************/
.adsContainer {
  background: #F6F6F6;
  width: 86%;
  border-radius: 25px;
  padding: 56px 50px 43px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

/********************************************** Page Home ************************************************/
/*********************************************************************************************************/
.homeContainer {
  gap: 50px;
  width: 100%;
  background-color: #ffffff;
}
.homeContainer__main {
  gap: 43px;
  width: 100%;
}

/********************************************** Page about ************************************************/
/*********************************************************************************************************/
.aboutContainer {
  gap: 50px;
}
.aboutContainer__main {
  gap: 38px;
  width: 100%;
}

/********************************************** Page Error ************************************************/
/*********************************************************************************************************/
.pageError__container {
  gap: 139px;
}
.pageError__title {
  margin-top: 139px;
}
.pageError__link {
  margin-bottom: 139px;
}

/********************************************** Page Logement *****************************************/
/*********************************************************************************************************/
.logementContainer {
  gap: 50px;
  width: 100%;
}

/********************************************** Page Housing *****************************************/
/*********************************************************************************************************/
.housingContainer {
  width: 100%;
  padding: 0 100px;
}/*# sourceMappingURL=main.css.map */