/********************************************** Page about ************************************************/
/*********************************************************************************************************/
.aboutContainer,
.aboutContainer__main,
.collapseAll {
    @extend %flex-columnCentered;
}

.aboutContainer {

    gap: 50px; 

    &__main {

        gap: 38px;
        width: 100%;
        padding: 0 7%;

        @media screen and (max-width: 375px) {
            padding: 0 5.5%;
        }
    }
}

.collapseAll {

    gap: 30px;
    width: 100%;

}

.aboutContainer,
.aboutContainer__main,
.collapseAll {

    @media screen and (max-width: 375px) {
        gap: 20px;
    }
}