/********************************************** Page Home ************************************************/
/*********************************************************************************************************/
.homeContainer {
    @extend %flex-columnCentered;
    gap: 50px;
    width: 100%;
    background-color: #ffffff;

    &__main {
        @extend %flex-columnCentered;
        gap: 43px;
        // margin-top: 50px;
        width: 100%;

    }
}

