/********************************************** Home ************************************************/
/*********************************************************************************************************/
.mainContainer {
    @extend %flex-columnCentered;
    background-color: #ffffff;
}

.banner {
    width: 86%;
    height: 223px;
    border-radius: 25px;
    position: relative;

    border-radius: 25px;
    background: #000;

    &_img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
        opacity: 0.6;
    }

    &_txt {
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
