/********************************************** Page Error ************************************************/
/*********************************************************************************************************/

.pageError {
    &__container {
        @extend %flex-columnCentered;
        gap: 139px;

        @media screen and (max-width: 768px) {
            gap: 113px;
        }
    }

    &__title {
        margin-top: 139px;
    }

    &__link {
        margin-bottom: 139px;
    }
}