/********************************************** Footer ************************************************/
/*********************************************************************************************************/

.footer {
    @extend %flex-columnCentered;
    width: 100%;
    height: 209px;
    background-color: black;
    padding: 66px 464px 29px 464px;

    &__content {
        @extend %flex-columnCentered;
        gap: 28px;
        min-width: 513px;
    }

    &_logo {
        @extend %flex-row;
        align-items: flex-end;
        gap: 6px;
    }

    &_txt {
        color: white;
        // width: 513px;
    }
}
