/********************************************** Header ************************************************/
/*********************************************************************************************************/
.header {
    @extend %flex-rowCentered;
    justify-content: space-between;
    padding: 45px 100px 0 100px;
    width: 100%;

    @media screen and (max-width: 768px) {
        padding: 20px 20px 0 20px;
    }

    &_nav {
        @extend %flex-row;
        gap: 57px;

        @media screen and (max-width: 768px) {
            gap: 26px;
        }
    }

    & img {
        @media screen and (max-width: 768px) {
            width: 145px;
        }
    }

    &__navLink-active {
        text-decoration: underline;
    }
}